{% extends 'base.html' %}

{% if title %}
<title>{{title}}</title>
{% else %}
<title>Accounts</title>
{% endif %}
{% block content %}
<h1>User Registration</h1>
<div class="form-container">

    <form action="" method="post">

        {{form.hidden_tag()}}
        <p>
            {{form.first_name.label}}
            {{form.first_name}}
        <p>
            {% for error in form.first_name.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </p>
        </p>
        <p>
            {{form.middle_name.label}}
            {{form.middle_name}}
        <p>
            {% for error in form.middle_name.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </p>
        </p>
        <p>
            {{form.last_name.label}}
            {{form.last_name}}
        <p>
            {% for error in form.last_name.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </p>
        </p>
        <p>
            {{form.email.label}}
            {{form.email}}
        <p>
            {% for error in form.email.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </p>
        </p>
        <p>
            {{form.username.label}}
            {{form.username}}
        <p>
            {% for error in form.username.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </p>
        </p>
        <br><br>
        <p>
            {{form.gender.label}} <br>
            {% for sub in form.gender %}
            <span style="color: red;">{{sub}}{{sub.label}} </span>
            {% endfor %}
        </p>
        </p>
        <br><br>
        <p>
            {{form.password.label}}
            {{form.password}}
        <p>
            {% for error in form.password.errors %}
            <span style="color: red;">{{error}}</ style="color: red;"><br>
            {% endfor %}
        </p>
        </p>
        <p>
            {{form.confirm.label}}
            {{form.confirm}}
        <p>
            {% for error in form.confirm.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </p>
        </p>
        <p>
            {{form.submit()}}
        </p>
        <hr>
        <small>Already have an account? <a href="{{url_for('auth.login')}}">Login</a></small>
    </form>


</div>
{% endblock content %}